*,
*::before,
*::after {
    box-sizing: border-box;
}
:root {
    --ff-primary: 'Lora', serif;
    --ff-secondary: 'Roboto Slab', serif;
    
    --fw-reg: 400;
    --fw-bold: 700;
    
    --clr-light: #fff;
    --clr-dark: #D4AF37;
    --clr-accent: #D4AF37;
    
    --fs-h1: 3rem;
    --fs-h2: 2.25rem;
    --fs-h3: 1.25rem;
    --fs-body: 1rem;
    
    --bs: 0.25em 0.25em 0.75em rgba(0,0,0,.25),
          0.125em 0.125em 0.25em rgba(0,0,0,.15);
}

@media (min-width: 800px) {
    :root {
        --fs-h1: 4.5rem;
        --fs-h2: 3.75rem;
        --fs-h3: 1.5rem;
        --fs-body: 1.125rem;
    }
}



body {
    background: #0C0B0B;
    color: var(--clr-dark);
    margin: 0;
    font-family: var(--ff-primary);
    font-size: var(--fs-body);
    line-height: 1.6;
}

section {
    padding: 5em 2em;
}

img {
    display: block;
    max-width: 100%;
}

/* strong { font-weight: var(--fw-bold) } */

/* :focus {
    outline: 3px solid var(--clr-accent);
    outline-offset: 3px;
} */



h1,
h2,
h3 {
    line-height: 1;
    margin: 0;
}

h1 { font-size: var(--fs-h1) }
h2 { font-size: var(--fs-h2) }
h3 { font-size: var(--fs-h3) }


.section__title {
    margin-bottom: .25em;
}

.section__title--intro {
    font-weight: var(--fw-reg);
    /* color: #0C0B0B; */
}

.section__title--intro strong {
    display: block;
}

.section__subtitle {
    margin: 0;
    font-size: var(--fs-h3);
}

.section__subtitle--intro,
.section__subtitle--about {
    background: var(--clr-accent);
    padding: .25em 1em;
    /* font-family: var(--ff-secondary); */
    margin-bottom: 1em;
}

/* .section__subtitle--work {
    color: var(--clr-accent);
    font-weight: var(--fw-bold);
    margin-bottom: 2em;
} */


.intro__img {
    box-shadow: var(--bs);
}

.section__subtitle--intro {
    display: inline-block;
    color: #0C0B0B;
    font-weight: bolder;
    /* font-size: 150%; */
}

@media (min-width: 600px) {
    .intro {
        display: grid;
        width: min-content;
        margin: 0 auto;
        grid-column-gap: 1em;
        grid-template-areas: 
            "img title"
            "img subtitle";
        grid-template-columns: min-content max-content;
    }
    
    .intro__img {
        grid-area: img;
        min-width: 250px;
        position: relative;
        z-index: 2;
    }    
    
    .section__subtitle--intro {
        align-self: start;
        grid-column: -1 / 1;
        grid-row: 2;
        text-align: right;
        position: relative;
        left: -1.5em;
        /* width: calc(100% + 1.5em); */
    }
}
/* nav sect */

.menu ul{
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: right;
}
.menu li{
    display: inline-block;
}
.menu a{
    text-decoration: none;
    font-size: 18px;
    color: #D4AF37;
    width: 100%;
    display: block;
    padding: 25px 20px;
    font-weight: var(--fw-reg);
    font-family: sans-serif;
    text-transform: uppercase;
}
.menu a:hover{
    padding-bottom: 1px 2px;
    border-bottom: 0.1px solid #D4AF37;
}
/* end of nav sect */

/* about section */
.about{
    text-align: center;
    background-color: white;
   
    
    
}
h3{
    font-weight: bold;
}
p{
    justify-content: start;
    color: black;
    font-family: sans-serif;
}
.btnformat{
    color:black;
    font-weight: bold;
    padding: 10PX 40PX;
    background-color: #D4AF37;
    cursor: pointer;
}
/* end of about section */

/* portfolio section*/

body{
    /* display: flex; */
    justify-content: center;
    align-items: center;
    background: #0C0B0B;
}
.container{
    position: relative;
    width: 1100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 30px;
}
.container .card{
    position: relative;
    max-width: 300px;
    height: 215px;
    background: #fff;
    margin: 30px 10px;
    padding: 20px 15px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 5px 20px rgba(0,0,0,0.5);
    transition: 0.3s ease-in-out;

}
.container .card:hover{
    height: 420px;
}
.proj{
    text-align: center;
    /* margin: 0; */
}
.container .card .imgbox{
    position: relative;
    width: 260px;
    height: 260px;
    top: -60px;
    left: 20px;
    z-index: 1;
    box-shadow: 0 5px 20px rgba(0,0,0,0.2);

}
.container .card .imgbox img{
    max-width: 100%;
    border-radius: 4px;
}
.container .card .content{
    position: relative;
    margin-top: -140px;
    padding: 10px 15px;
    text-align: center;
    color: #111;
    visibility: hidden;
    opacity: 0;
    transition: 0.3s ease-in-out;
}
.container .card:hover .content{
    visibility: visible;
    opacity: 1;
    margin-top: -40px;
    transition-delay: 0.3s;
}